/* 경로 네비게이션 끝*/
/**
commit test
*/
nav.path_nav {
	display: inline-block;	
}

nav.path_nav ul {
	
}

nav.path_nav ul li {
	float: left;	
}

nav.path_nav ul li a {
	width: 150px;
	height: 35px;
	line-height: 35px;
	font-weight: 700;	
	text-align: center;		
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	background-image: url(/images/path_boolet.png);		
	background-color: #B2B2B2;
	color: #FFF;
}


nav.path_nav ul li:not(:first-of-type) a {

}

nav.path_nav ul li:last-of-type a {
	background-color: #ff2c2b;
}

nav.path_nav ul li a:hover {
	background-color: #fe0908;
}


/* ul.table init */
ul.table {
	width:100%;
}

ul.table li {
	font-size:0;
}

article {
	width:1100px;
	min-height:580px;
	margin:auto;
	margin-bottom:100px;
}

article.width-1200 { width:1200px; }

.board_bbs .actions {
	margin:30px auto;
}

.board_bbs form.search_form {
	float:left;
}

.board_bbs form input[type=button] {
	text-align:center;
	background-color:#575757;
	padding:7px 6px;
	color:#FFF;
	border:1px solid #575757;
}

.board_bbs form input, .board_bbs .actions form button {
	padding:7px 6px;
	vertical-align:middle;
}

.board_bbs .buttons {
	float:right;
}

.board_bbs .buttons a {
	width:100px;
	text-align:center;
	background-color:#575757;
	padding:7px 6px;
	color:#FFF;
}

.board_bbs ul.table {
	margin-bottom:30px;
}

.board_bbs ul.table li span {
	display:inline-block;
	vertical-align:middle;
	padding:13px 15px;	
}

.board_bbs ul.table li.thead span {
	font-size:15px;
	font-weight:600;
	color:#5C5C5C;
	text-align:center;
}

.board_bbs ul.table li.tbody span {
	font-size:15px;
	font-weight:300;
	color:#5C5C5C;
}

.board_bbs ul.table li span:nth-child(1) {
	width:10%;
	text-align:center;
}

.board_bbs ul.table li span:nth-child(2) {
	width:35%;
	text-align:left;
}

.board_bbs ul.table li span:nth-child(3) {
	width:15%;
	text-align:center;
}

.board_bbs ul.table li span:nth-child(4) {
	width:20%;
	text-align:center;
}

.board_bbs ul.table li span:nth-child(5) {
	width:20%;
	text-align:center;
}

.board_bbs ul.table li.tr.thead {
	background-color:#DCDCDC;
	/*
	border-top:2px solid #BABABA;
	border-bottom:2px solid #BABABA;
	*/
}

.board_bbs ul.table li.tr.tbody {
	border-bottom:1px dotted #BABABA;
}

.board_bbs ul.table li.tbody:hover {
	background-color:#3F3F3F;
}

.board_bbs ul.table li.tbody:hover span,.board_bbs ul.table li.tbody:hover span a {
	color:#FFF;
}

ul.pagination {
	text-align:center;
	margin:10px auto;
}


ul.pagination li {
	display:inline-block;
	vertical-align:middle;
}

ul.pagination li a {
	font-size:13px;
	font-weight:500;
	width:30px;
	height:30px;
	line-height:30px;	
	margin:auto 5px;
	color:#5C5C5C;
}

ul.pagination li a:hover {

}

ul.table {
	display:table;
}

ul.table li.tr {
	display:table-row;
	
}

ul.table li.tr.thead {
	background-color: #FA4C4C;
	color:#FFF;
	
}

ul.table li.tr.thead span.td {
	border:0;
}

ul.table li.tr span.td {
	display:table-cell;
	font-size:15px;
	font-weight: 300;	
	padding:8px;
	border-bottom:1px solid #DCDCDC;
}

ul.table li.tr span.td span.title {
	color:#3C46FC;
	font-weight: 500;
}