@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
* { margin:0; padding:0; line-height: 22px; box-sizing: border-box;}
*:not(.fa):not(.glyphicon) {
	font-family: 'Noto Sans KR', 'Nanum Barun Gothic', sans-serif !important;
}

html,body {
	height:100%;
}

article {
	min-height: 70%;
}

body {
	background-image:url(/images/bg_img.png);
	background-repeat:no-repeat;
	background-position:right 80%;
	background-size:50%;
	color:#575757;
	font-weight: 300;
}

a { text-decoration: none; color:#575757; display: block;}
li { list-style-type: none; }
.clearfix:before { display: block; }
.clearfix:after { display: block; clear: both; content: ''; *zoom:1; }

.navitoggle { display: none; float: right; }
.navitoggle i { font-size: 200%; padding:10px;}

/* header start */
header {
	width:100%;
	position: relative;
	min-width:1100px;/* 임시 스타일 */
	border-bottom:1px solid #C8C8C8;
	height:70px;
	margin-bottom:30px;
	background: #ff2c2c;
}

header h1 {
	height:100%;
	padding:5px;
}

header h1,header h1 .logo,header nav.gnb {
	height:100%;
	float: left;
}

header .my-menu {
	height: 100%;
	float:right;
}

nav.gnb {
	margin-left:30px;
}

nav.gnb ul li {
	float:left;
}
nav.gnb > ul > li > a {
	box-sizing: content-box;
	font-size:18px;
	text-transform:uppercase;
	display:block;
	height:100%;
	line-height: 70px;
	width:80px;
	text-align:center;
	color:#FFF;
}

nav.my-menu ul li a {
	font-size:15px;
	text-transform:uppercase;
	display:block;
	height:100%;
	line-height: 70px;
	color:#FFF;
}


nav.my-menu ul li {
	float:left;
}

nav.nav li a {
	padding:0 20px;
}

/* header end */

/* start submenu */

div.sub_menu {
	position:absolute;
	width:100%;
	left:0;
	top:100%;
	background: #FFF;
}

.sub_menu__container {
	width:100%;
	margin:auto;
	padding:50px 30px;
	box-shadow: 0px 5px 12px 1px gray;
}

.sub_menu__container h3.title {
	font-size:24px;
	margin-bottom:10px;
}


.sub_menu__container ul {

}

.sub_menu__container ul li {
	float:left;
}

.sub_menu__container ul li a {
	width:150px !important;
	font-size:18px;
	color:#575757;
	padding:15px;
}

.sub_menu__container ul li a:hover {
	background: #FE0908;
	border-radius: 15px;
	font-weight: bold;
}


nav.gnb ul li a:hover {

}

/* end start submenu */

/* submenu animate */

/* sub_menu action init */

nav.gnb ul li a:hover{
	background: #FFF;
	color:#575757;
}

div.sub_menu {
	display:none;
	z-index: 99;
}

nav.gnb > ul > li:hover div.sub_menu {
	display:block;
}


nav.gnb > ul > li:hover > a {
	color:#575757;
	background: #FFF;
}


/* END submenu animate */

div.path_info {
	width:100%;
	min-width:1100px;
	margin-bottom:30px;
}

div.path_info h2 {
	float:left;
	color:#fe0908;
	width:200px;
	text-align:right;
	font-weight:300;
	border-bottom:3px solid #FE0908;
	padding:0 0 10px 0;
	/*	background-color:#000; */
}


div.path_info .path_detail {
	float:right;
	margin-right:50px;
}

div.path_info .path_detail li {
	display:inline-block;
	font-size:13px;
}

div.path_info .path_detail li a {
	color:#FFF;
	text-align:center;
	width:100px;
	height:30px;
	line-height:30px;
	text-transform: uppercase;
}

div.path_info .path_detail li:not(:last-of-type) a {
	background-color:#AFAEAE;
}

div.path_info .path_detail li:last-of-type a {
	background-color:#FE0908;
}

/* organization page */
.organ {
	position:relative;
}

.organ .dept1 span, .organ .dept2 span {
	position:relative;
	display:inline-block;
	width:250px;
	height:100px;
	border-radius:100px;
	background-color:#FF6161;
	color:#FFF;
	text-align:center;
	line-height:100px;
	font-weight:500;
	font-size:18px;
}

.organ .dept1 { text-align:center; margin-bottom:100px; }
.organ .dept2 { text-align:center; margin-bottom:100px;}
.organ span.develop {}
.organ span.design { margin:auto 50px;}
.organ span.service {}

.organ span.line {
	position:absolute;
	/*	border:1px solid #FF6161; */
	background-color:#FF6161;
}

.organ span.line {
	width:800px;
	height:1px;
	top:250px;
	left:150px;
}

.organ span.line.dept {
	width:1px;
	height:150px;
	top:50px;;
	left:50%;
}

.organ .dept3 {
	position:relative;
	text-align:center;
	color:#FF6161;
	font-weight:300;
	font-size:18px;
}

.organ .dept3 .position {
	display:inline-block;
	width:850px;
	height:90px;
	border:2px solid #FF6161;
	border-radius:90px;
	line-height:90px;
}

.organ .dept3 .position .position-header {
	float:left;
	line-height:90px;
	padding:0 60px;
}

.organ .dept3 .position .position-info {
	float:right;
	line-height:90px;
	padding:0 60px;
}

.organ .dept3 .position .position-info span {
	display:inline-block;
	padding:0 20px;
}

.organ .dept3 .position .position-info .dep3-line {
	position:absolute;
	background-color:#FF6161;
	width:600px;
	height:1px;
	top:50%;
	bottom:0;
}

/* organization page end */

/* board > qna */
.qna_wrap {

}

.qna_wrap ul.qna_table li {
	font-size:0;
}

.qna_wrap span {
	display:inline-block;
	font-size:15px;
	font-weight:300;
	padding:13px 15px;
}

.qna_wrap ul.qna_table {
	width:100%;
	font-size:0;
	margin-bottom:30px;
}

.qna_wrap ul.qna_table li.tr.thead {
	background-color: #BABABA;
	font-weight:600;
}

.qna_wrap ul.qna_table li.tr:not(.thead) {
	border-bottom:1px dotted #BABABA;
}

.qna_wrap ul.qna_table li.tr span:nth-of-type(1) {width:10%;}
.qna_wrap ul.qna_table li.tr span:nth-of-type(2) {width:45%;}
.qna_wrap ul.qna_table li.tr span:nth-of-type(3) {width:15%;}
.qna_wrap ul.qna_table li.tr span:nth-of-type(4) {width:15%;}
.qna_wrap ul.qna_table li.tr span:nth-of-type(5) {width:15%;}

.qna_wrap .qnaWrite {
	float:right;
	border:0;
	width: 80px;
	text-align: center;
	background-color: #575757;
	padding: 7px 6px;
	color: #FFF;
	font-size:15px;
	font-weight:300;
}

.qna_wrap .qnaWrite {

}

.qna_wrap ul.pagination {
	text-align:left;
}


/*CI page*/
.ci_page{
	font-size:18px;
}
.ci_page .row{
	margin-bottom:50px;
	width:100%;
}
.ci_page .row:nth-of-type(1){

}
.ci_page .row:nth-of-type(1) p{
	color:#898989;
	letter-spacing:1px;
	line-height:27px;
}
.ci_page .row:nth-of-type(1) strong{
	font-size:24px;
	color:#595757;

}
.ci_page .row:nth-of-type(2){

}

.ci_page .row:nth-of-type(2) p {

}

.ci_page .row:nth-of-type(2) img {
	width:100%;
}

.ci_page .row:nth-of-type(2) .color_boolet {
	width:20px;
	height:20px;
	border-radius:20px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}

.ci_page .row:nth-of-type(2) p.color-guide {
	margin:30px 0 10px 0;
	color:#595757;
	font-weight:500;
}

.ci_page .row:nth-of-type(2) ul {

}

.ci_page .row:nth-of-type(2) ul li {
	display:inline-block;
	vertical-align:middle;
	font-size:15px;
	margin:0 2px;
}


.ci_page .row:nth-of-type(2) .logo_left{
	float:left;
	width:40%;
}
.ci_page .row:nth-of-type(2) .logo_right{
	float:right;
	width:40%;
}
.ci_page .row:nth-of-type(3){

}
.ci_page .box-title{
	color:#E8382F;
	border-top:4px solid #E8382F;
	width:50px;
	margin-bottom:60px;
	padding-top:5px;

}

.ci_page .row:nth-of-type(3) .logo_list {

}

.ci_page .row:nth-of-type(3) .logo_list img {
	width:33.333333333333333%;
	float:left;
	padding:5px;
	margin-bottom:10px;
}

/*CI page end*/

/* Editor page */
.editor_wrap label[for=subject] {
	display:block;
}

.editor_wrap label[for=subject] input[type=text] {
	width:100%;
	padding:12px 15px;
	color:#575757;
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 18px;
}

.editor_wrap h3.page-title {
	padding:8px 15px;
	background-color: rgb(255,44,43);
	color:#FFF;
	margin-bottom: 30px;
}

.editor_wrap .ckeditor_division {
	margin-bottom: 10px;
}

.editor_wrap .btn {
	padding:12px 25px;
	border:0;
	background-color: #575757;
	color:#FFF;
	font-weight: 500;
	font-size: 18px;
	cursor:pointer;
	float: right;
}

.editor_wrap .btn.back {
	background-color:#575757;
	float: left;
}

/* End Editor page */


/* design card page */

.card_wrap{ box-sizing: border-box; }
.card_wrap section {}
.card_wrap section ul.image-list {}
.card_wrap section ul.image-list li { float: left; padding:2px; margin:auto; }


/* end design card page */


/* culture */
.culture_wrap {
	width:1200px;
	margin:auto;
}

.culture_wrap ul {
	width:100%;
}

.culture_wrap ul li.list-wrap {
	width:300px;
	height:350px;
	float:left;
	padding:10px;
	font-weight: 300;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap {
	border:1px solid #C8C8C8;
	height:100%;
	position:relative;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dt {
	height:180px;
	background: blue;
	overflow: hidden;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dt img {
	width:100%;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd {
	height:170px;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd .title {
	height:40%;
	padding:10px;
	font-weight: 300;
	color:#767676;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd .name {
	height:15%;
	padding:10px;
	color:#A4A4A4;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd .like-box {
	position:absolute;
	width:100%;
	height:30px;
	bottom:0;
	padding:3px 5px;
	border-top:1px solid #C8C8C8;
}
.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd .like-box .category {
	float:left;
	color:#A4A4A4;
}

.culture_wrap ul li.list-wrap div.inner-content-wrap dl dd .like-box .likes {
	float:right;
	color:#767676;
}

.likes .fa-heart {
	color:#F82460;
}

/* end culture */


/**
*@autor "김다예"
*@comment "footer css"
*/



/* 회원가입 useradd membership */
.members-add-wrap .hidden { display:none; }
.members-add-wrap label:not(.btn) { display:none; }

.members-add-wrap {

}

.members-add-wrap .row_group .submit-btn {
	width:100%;
	padding:15px 0;
	background-color:#ff2c2c;
	color:#FFF;
	border:0;
	font-size:18px;
	font-weight:300;
	letter-spacing:2.2px;
	cursor:pointer;
}

.members-add-wrap .row_group:last-child {
	margin-top:50px;
	margin-bottom:50px;
}

.members-add-wrap .fa{
	vertical-align:middle;
	float:right;
	margin:10px 15px auto auto;
	color:#BDBDBD;
}
.members-add-wrap fieldset{
	width:500px;
	margin:auto;
	border:none;
	margin-top:80px;
}

.members-add-wrap fieldset input,select {
	background:none;
	padding:10px;
}

.members-add-wrap fieldset .row_group {
	box-shadow:0 2px 5px 1px #C1C1C1;
	margin-bottom:30px;
}


.members-add-wrap fieldset .row_group .inDiv{
	width:100%;
	border-bottom:1px solid #E4E4E4;
}
.members-add-wrap fieldset .row_group .inDiv:not(.birthdayDiv) input{
	width:80%;
	padding:15px 10px;
	vertical-align:middle;
	display:inline-block;
	border:0;
}
.members-add-wrap fieldset .row_group .inDiv .input_icon{
	display:inline-block;
	width:18%;
	text-align:right;
	float:right;
	vertical-align:middle;
	padding:7px 17px;
	color:#BDBDBD;
}

#gender_group.inDiv{
	text-align:center;
	font-size:0;
}

#gender_group.inDiv > *{
	font-size:15px;
}

#gender_group input[type=radio]{
	display:none;
	
}

#gender_group input[type=radio]:checked + label.btn {
	background-color:#ff2c2c;
	color:white;
}

#gender_group label.btn {
	width:50%;
	display:inline-block;
	padding:10px 0;
	cursor:pointer;
}

#gender_group label.btn:first-child{
	border-right:1px solid #BDBDBD;
}

.birthdayDiv {
	font-size:0;
}

.birthdayDiv > * {
	font-size:15px;
	display:inline-block;
	vertical-align:middle;
	border:0;
}

.birthdayDiv input,.birthdayDiv select {
	padding:7px 8px;
}

.birthdayDiv .form_title{
	display:inline-block;
	width:10%;
	background-color: #BDBDBD;
	padding:9px 8px;
	color:#FFF;
}

.birthdayDiv .birthdayInput {
	width:30%;
}

.birthdayDiv .birthdayMonth {
	width:30%;
}

.birthdayDiv .birthdayDay {
	width:30%;
}

.phoneDiv {

}

.phoneDiv button {
	border:1px solid #BDBDBD;
	padding:5px 25px;
	cursor:pointer;
	background-color:#FFF;
	color:#BDBDBD;
	margin:15px auto;
}

/* footer css daye */
footer{
	background-color:#4C4948;
	letter-spacing:2px;
}

footer .footer_container {
	width:1100px;
	margin:auto;
	padding:22px 0;
}

footer .footer_container .footer_logo {
	float:left;
	position:relative;
	top:0;
	width:12%;
}
footer .footer_container .footer_logo img{
	width:100%;
}
footer .footer_info{
	float:left;
	margin-left:60px;
}
footer .footer_info ul {

}
footer .footer_info ul li {
	float:left;
}
footer .footer_info ul li a{
	font-size:12px;
	color:#ffffff;
	padding:0 30px;
	box-sizing:border-box;
}
footer .footer_info ul li:first-of-type a{
	padding-left:0;
}
footer .footer_info ul li:last-of-type a{
	border-right:0;
}
footer address {
	float:left;
	font-size:12px;
	color:#ffffff;
	font-style:normal;
}

footer address * {
	color:#FFF;
}

footer address p.address_info a {
	display:inline-block;
}

footer address p.copyright {
	display:inline-block;
}

footer address a[href^="mailto"] {
	color:#FFF;
	display:inline-block;
}