
	/*
		유저테이블
		idxno
		이름
		아이디
		비밀번호
		회사
		부서
		직급
		사이트직급
		가입날짜
		핸드폰번호
		내선번호
		이메일주소
	*/

    body, h1, h2, h3, h4,h5,h6,p,span,ul,li {
        padding:0;
        margin:0;
        font-family:NanumGothic;
    }

    .login_form_table {
        font-size:14px;
    }

    .login_form_table th {
        text-align:right;
    }

    .login_form_table td {

    }

    #id_result, #pass_result, #pass_ok {
        font-size:12px;    
    }