        body, p, h1, h2, h3, h4, h5, h6, td, span, li, ul {
            padding:0;
            margin:0;
            font-family:NanumGothic;
        }

        a {
            text-decoration:none;
        }

        li {
            list-style-type:none;
        }

        .wrap {
            width:1800px;
        }

        .header a {
            color:#FFF;
        }

        .header {
            height:50px;
            background-color:#eef1f6;
            width:100%;
            position:relative;
        }

        .header ul {
            margin-left:400px;
            position:absolute;
            bottom:0;
        }

        .header ul li {
            display:inline-block;   
            margin:auto;    
            text-align:center;       
            cursor:pointer;
        }

        .header p {
            width:80px;
            height:25px;
            background-color:#f22f00;
            font-size:14px;
            border:1px solid #fb623d;
            border-bottom:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            line-height:25px;
        }

        .header p:hover {
            background-color:#FFF;
            color:#000000;
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid black;
            border-bottom:0;
        }

		#top_link_hover {
			background-color:#FFF;
            color:#000000;
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid black;
            border-bottom:0;
		}


        .aside {
            width:200px;            
            height:100%;
            position:fixed;
            left:0;
        }

        .contents {
            padding-left:250px;
        }

        .search_date {
            background-color:#eef1f6;
            margin-top:10px;
            font-size:12px;
        }

        .search_date input {
            width:100px;
            font-size:12px;
        }

        .search_date select {
            font-size:12px;
        }

        #ui-datepicker-div {
            font-size:12px;
        }

        .select_button {
            margin-top:20px;
            margin-left:400px;
        }

        .select_button ul {
            margin:auto;
        }

        .select_button ul li {
            display:inline-block;
            background-color:#efefef;
            font-size:13px;      
            width:80px;     
            height:30px;
            line-height:28px;
            text-align:center;
            font-weight:bolder;
        }

        .select_button p {
            color:#000;
        }

        .view_table {
            margin-top:10px;
            
        }

        .view_table table {
            border:1px solid #efefef;
        }
        
        .view_table table th {
            border-right:1px solid #efefef;
            border-bottom:1px solid #efefef;
            font-size:14px;            
        }

        .view_table table td {
            border-right:1px solid #efefef;
            border-bottom:1px solid #efefef;
            font-size:14px; 
            text-align:center;
        }

        .login_name {
            float:right;
            font-size:14px;
            margin-right:200px;
        }

        #logout_link {
            color:black;
        }

        .approve_line {
            margin-top:10px;
        }

        .approve_member {
            margin:0;
            padding:0;
            float:right;
            display:none;
        }

        .approve_member th {
            border:1px solid #aeadae;
            border-bottom : 0;
            font-size:14px;          
            width:100px;  
        }

        .approve_member td {
            position:relative;
            width:100px;
            height:100px;
            border:1px solid #aeadae;
        }        

        #app_no, #app_ok {
            text-align:center;
            color:#f22f00;
            border:1px solid #f22f00;
            border-radius:60px;
            width:60px;
            height:60px;
            line-height:60px;
            margin:auto;
            display:none;
        }       

         .paper_box {
            padding-top : 60px;
            margin-left:10px;
        }

        .paper_box ul {
            border:2px solid #f22f00;
            padding-top:5px;
            padding-left:5px;
            padding-bottom:5px;
        }

        .paper_box ul li {
            text-align:left;
            font-size:12px;
            margin-top:5px;
            margin-bottom:5px;

        }

        .paper_inner:first-child {
            margin-top:0;
        }

        .paper_inner {
            margin-top:20px;
        }

        .paper_inner img, .paper_inner a {
            text-decoration:none;
            color:black;
        }

        /* lnb_css */
        /*
        .wrap {
            width:180px;
            text-align:center;
        }
            */
        .paper_box h3 {
            background-color:#f22f00;
            color:#FFF;
            font-size:14px;
            text-align:center;
        }

        .folder_img {
            width:20px;
            height:16px;
            padding-right:5px;
            vertical-align:middle;
        }

        .folder_submenu {
            width:15px;
            padding-right:10px;
            margin-left:8px;
        }

        #paper_submenu {
            border:0;
            display:none;
        }