* {margin:0; padding:0; font-family:"나눔고딕",NanumGothic;color:#5c5c5c;}
a {text-decoration:none;}
li{list-style-type:none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}
input {padding:7px 8px; border-radius:5px; box-sizing:border-box;}

.loginDefault {width:640px;text-align:center;margin:auto;margin-top:15%;}
.loginDefault .innerBox input {width:80%;height:50px;}
.loginDefault h1 {text-align:left;width:80%;margin:auto;padding:10px 0;}
.loginDefault .innerBox input:not(:first-child) {margin-top:10px;}
#LoginSupport {margin-top:10px;}

/* Contents */
.wrap {padding:20px;}
.header {text-align:center;margin-bottom:20px;}
.header h1 {display:inline-block;}
.header ul {width:800px;font-size:0;display:inline-block; text-align:right;}
.header ul li {display:inline-block;}
.header ul li a {font-size:15px;padding:5px 10px;}
.contentView {width:940px; margin:auto; box-shadow:0 0 10px 1px #e6e6e6;border-top-left-radius:15px; border-top-right-radius:15px;}
.contentView ul li {font-size:0; padding:3px 4px;}
.contentView ul li:first-child{font-weight:bold; border-top-left-radius:15px; border-top-right-radius:15px;}
.contentView ul li span{display:inline-block; font-size:15px;padding:5px 0;}
.contentView ul li:nth-child(2n+1){background-color:#cecece;}
.contentView ul li:not(:nth-child(2n+1)){background-color:#ffffff;}
.contentView ul li span:first-child{width:10%;}
.contentView ul li span:nth-child(2){width:30%;}
.contentView ul li span:nth-child(3){width:20%;}
.contentView ul li span:nth-child(4){width:20%;}
.contentView ul li span:nth-child(5){width:20%;}