@import url(font/NotoSansCJKkr-Medium.otf);

@font-face {
	font-family:"Noto Sans CJK KR Medium";
	src: url(font/NotoSansCJKkr-Medium.otf);
}

body, img, div, p, h1, h2, h3, h4, h5, h6, span, ul, li, ol, a, pre, footer, dt, dd {
    margin:0;
    padding:0;    
    font-family:"Noto Sans CJK KR Medium";
	font-size:15px;
	font-weight:500;
}



li {
    list-style-type:none;
}

aside {
        
}

img, a {
    border:0;
}

@media screen and (min-device-width:600px) and (max-device-width:1200px) {
    .wrap {
        width:100%;
    }
}

@media screen and (min-device-width:1201px) and (max-device-width:1920px) {
    .wrap {
        width:1903px;
    }
}


.header {
    width:100%;    
    margin-top:10px;
    border-bottom:1px solid #c8cbcf;
    height:100px;
}

.header img {
    margin:auto;
    width:200px;
    text-align:center;
    padding-bottom:10px;
    margin-left:90px;    
    margin-top:25px;
}

.top_menu {
    border-bottom:7px solid #74171c;
    height:50px;    
    width:100%;   
}

#login_form a {
    font-family:"나눔고딕",NanumGothic;
    font-weight:100;
}

.top_menu ul {
    text-align:center; 
    width:100%;
}

.top_menu ul li {
    display:inline-block;
    font-size:14px;    
    margin:0px 96px;
    width:150px;
    height:50px;    
    line-height:50px;
    position:relative;   
}

.page05sec_wrap {
}

.top_menu li a {
    text-decoration:none;
    color:#363737;
}

.contents {    
    width:1200px;
    margin:5px auto;
}

.page01_wrap {
   margin-top:80px;
}

.page01_wrap * {
    font-family:"나눔고딕",NanumGothic;
}


.page01_inner_contents {    

}

.page01_inner_contents p {    
    
}


.page01_inner_contents img {
    width:150px;
}

.page01_inner_contents pre {
    position:relative;
    font-size:15px;
}

/*
#page01_step1 {
    background-color:#646464;
    height:450px;
}

#page01_step2 {
    height:450px;
}

#page01_step3 {
    background-color:#74fc16;
    height:450px;
}

#page01_step4 {
    height:450px;
}
    */

.page01_title_img {
    margin:auto;
}

.page01_title_img img {
       
}

.page01_wrap h3 {
    color:#74171c;
    border-top:3px solid #74171c;
    width:200px;
    float:left;
    margin-top:20px;
}

.page01_wrap article {
    font-size:14px;
    float:left;
    line-height:32px;
    margin-top:90px;
    margin-left:20px;
}

.buse_prologue_wrap {
    margin-top:30px;
    float:left;
}

.buse_prologue .buse_name {
    float:left;
}

.buse_prologue h5 {
    float:left;
    font-size:18px;
    color:#454545;
    font-weight:300;
    width:200px;
    text-align:left;       
}

.buse_prologue p {
    float:left;
    font-size:14px;
    width:930px;
    margin-left:20px;
    line-height:23px;
}

.buse_prologue li {
    float: left;
    padding: 20px 0;
}

.buse_name {
    margin-top:30px;
}

.page02_wrap {  
    height:600px;
}

.page02_wrap .ceo_photo {
    float:left;
}

.ceo_talk {
    float:left;
    margin-left:20px;
    font-family:"나눔고딕",NanumGothic;
}

.ceo_talk > h3 {
    font-size : 18px;
    font-weight:bold;
    color:#74171c;
}

.ceo_wrap {
    margin-top:45px;
}

.page02_wrap h1 {
    font-size:22px;
    color:#646464;
    font-weight:300;
    border-bottom:1px solid #646464;
    padding:15px 0;
}

.page02_wrap p {
    font-size:15px;
    line-height:23px;
    margin-top:34px;
    width:100%;
    color:#5c5c5c;
    font-family:"나눔고딕",NanumGothic;
    font-weight:100;
}

.page02_wrap b {
    color:#000;
}

.ceo_sign {
    float:right;
    margin-top:80px;
}

.ceo_sign img {
    vertical-align:middle;
}

.page02_image {
    float:right;
}


.page02_inner_contents pre {
    position:absolute;
    left: 570px;
    top: 150px;
}

.page02_img {
    float:left;
}

#ceo_photo {
    float:left;
}

.sub_menu {
    position:absolute;    
    z-index:1;    
    display:none;
}

.top_menu .sub_menu li {
    margin:0;
    background-color : #74171c;
    border-bottom:1px solid #FFF;
}

.top_menu .sub_menu li:last-child {
    border-bottom:0;
}

.sub_menu li a {
    color:#FFF;
}

.page08_title {
    font-size:22px;
    color:#646464;
    font-weight:300;
    border-bottom:1px solid #646464;
    padding:15px 0;
}

@media screen and (min-device-width:1900px) and (max-device-width:1950px) {
    
}

.tap_title {
    margin-top:40px;
}

.map_address {

}

.tap_title li {
    background-color : #bfbfbf;
    width:315px;
    padding:5px;
    text-align:center; 
    font-size:18px;
    color:#FFF;
    text-decoration:none; 
}

.tap_title li:hover {
    background-color : #6e1e21;
}

#select_map {
    background-color : #6e1e21;
}

.tap_title a {
    text-decoration:none;
    width:315px;
}

.inner_text address {
    display:inline;
    font-style:normal;
}

.inner_text .inner_text_title {
    font-size:19px;
    color:#f24444;
        padding-left:20px;
}

.inner_text .inner_text_contents {
    font-size:15px;
}

.tap_title ul li {
    display:inline-block;
}


.inner_text ul {
    width:100%;
}

.inner_text ul li {
    background-image:url("../img/list_style_boolet.png");
    background-repeat:no-repeat;
    background-size:15px;
    background-position-y:center;
    padding-top:5px;
    padding-bottom:5px;
}


.inner_text span {
    display:inline-block;
}

.inner_text {
    margin-top:20px;
}

.inner_text p {
    margin-top:10px;
    color :#646464;
}

.inner_text_transport {
    margin-top:100px;    
    padding-bottom:200px;
}

.inner_text_transport ul {
    width:100%;
}

.inner_text_transport ul li:first-child {
    margin-left:0;
}

.inner_text_transport ul li {
    display:inline-block;
    margin-left:50px;
}

.inner_text_transport img {
    height:70px;    
}

.transport_text {
    display:inline-block;
    vertical-align:top;
    margin-left:5px;
}

.transport_text p:first-child {
    color:#f24444;
}

.transport_text p:last-child {
    margin-top: 5px;
    line-height: 23px;
}

.frm_agree {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f6f8f7;
    color: #96969e;
    line-height: 1.7em;
    overflow: hidden;
    overflow-y: scroll;
    width:100%;
    height:200px;
}

.frm_agree_box {
    border-bottom:1px solid #828282;
    padding-bottom:20px;
}

.frm_agree_title {
    margin: 0 0 10px;
    color: #282828;
}

#agree {
    width:20px;
    height:20px;
}
/* popup */

.page04_wrap table {

}

.page04_wrap th {
    text-align:left;
    font-size:14px;
    font-weight:100;
}

.page04_wrap td {
    padding-left:10px;
}

.page04_wrap h3 {
    font-size:18px;
    border-bottom:1px solid #828282;
    padding:10px;
}

.page04_wrap input {
    width:100px;
}

.submit_btn {
    margin-left:250px;
}

.nevi {
    margin-top:50px;
    width:1400px;
    height:800px;
    position:relative;
}

.nevi p {
    font-size: 24px;
    color: #647b87;
    position: absolute;
    top: 142px;
    left: 44px;
}


/* page05 */
.page05_wrap {
    width:860px;
    margin:auto;
}

.page05_wrap h1 {
    font-size:32px;
    border-bottom:1px solid #ababab;
    padding-bottom:10px;
    font-weight:900;
    color:#393939;
}
.page05_wrap h3 {
    font-size:24px;
    color:#454545; 
    font-weight:bold;
    padding-top:20px;
}


.title_img img{
    width:780px;
    margin-left:40px;        
    margin-top:30px;
}

.title {
    margin-top:40px;
}

.page05_text {
    width:100%;
}

.page05_text table {
    width:100%;    
}

.page05_text td {
    border:1px solid #454545;    
    height:226px;
    padding:5px;
    vertical-align:top;
    border-radius:10px;
}

.page05_text p {
    color:#454545; 
    font-size:18px;
    font-weight:bold;
    text-align:center;
    padding:2px 2px 5px;   
    border-bottom:1px solid #646464;
}

.page05_text ul {
    width:80%;
    margin:auto;
    margin-top:20px;
}

.page05_text li {
    color:#777;
    font-size:14px;
    list-style-type:circle;
}

.page05_inner_text h3 {
    font-size:24px;
    color:#454545; 
    font-weight:bold;
}

.page05_inner_text h5 {
    font-size:18px;
    font-weight:bold;
}

.page05_inner_text li {
    font-size:15px;
    color:#777;
}

.page05_inner_text ul {
    background-color:#e6e6e6;
    padding:10px;
    border-radius:5px;
}


.page05_inner_text b {
    color: #454545;
    padding-right: 10px;
    font-weight:bold;
}

.page05_inner_text > * {
    margin-top:5px;
}

#ui-datepicker-div {
    
}

.page07_wrap {
    width:100%;
}

.buse_list {
    width:200px;
    margin-top:100px;
    float:left;
}

.buse_list ul {
    color:#f24444
}

.buse_list ul li {
    border:1px solid #8d8d8d;   
    height:50px; 
    text-align:center;
    line-height:50px;
    margin-top:10px;
    
}

.member {
    width:300px;
    margin-left:80px;
    margin-top:20px;
    font-family:"나눔고딕",NanumGothic;
    padding:5px;
    height:150px;
}

.member b {
    float:none; 
    font-size:15px  
}

.member_list  * {
    float:left;
}

.member_list img {
    
}

.member_list p {
    float:none;
    text-align:left;
    font-size:13px;
    color:#454545;
    margin-left:5px;
    margin-top:30px;
    padding-left:115px;
}

.member input[type=button] {
    font-size:12px;
    text-align:center;
    color:#454545;
    width:40%;
    margin-left:42px;
    border:0;
    background-color:#f24444;
    color:#FFF;
    height:25px;
    margin-top:15px;
}

.etc_member ul li {
    list-style-type:none;
    display:inline-block;
}


.member_list ul input[type=image] {
    width:100px;
    font-size:0;    
    margin:0;    
    padding:10px;
    float:none;
}

#buse_link {
    float:none;
    width:850px;
}

.member_list {
    float:left;
    width:850px;
    margin-left:50px;
    margin-top:50px;
}

.member_list img {
    width:100px;
}

.hidden_member {
    display:none;
}

#buse2_hidden {
    display:block;
}

.etc_member > .member {
    margin-top:30px;
}

.top_member,.second_member, .etc_member {
    padding-bottom:50px;
    padding-top:40px;
    border-bottom:1px solid #e4e4e4;
    width:100%;
}

#select_group {
    background-color:#f24444;
    color:#FFF;
}

.buse_list ul li:hover {

}

.buse_list a {
    text-decoration:none;
    color:#454545;
    font-weight:100;
    font-size:15px;
}

.jojic {
    width:1000px;
    margin:auto;
}

.history_select {
    text-align:left;
    margin-top:40px;
}

.history_select li {
    display:inline-block;
    background-color:#1a83a0;
    width:200px;
    height:67px;
    line-height:67px;
    text-align:center;
    margin-left:35px;
}

.history_select li:first-child {
    margin-left:0;
}

.page03_wrap > h3 {
    font-size: 22px;
    width:100%;
    font-weight: 300;
    color: #646464;
    border-bottom:1px solid #c9caca;
    padding-bottom:20px;
    margin-top:35px;
}

    
    
    

.history_select a {
    text-decoration:none;
    color:#FFF;
    font-size:22pt;
    font-weight:100;
    
}


.all_history {
    width:100%;
}

/* 수정중 2016 07 27 */
.history_year {
    margin-top:45px;
    width:100%;
    float:left;     
    padding-bottom:25px;
}

.history_year .history_date2 {
    border-top:1px solid #646464;
    width:920px;
    float:left;
    margin-top:4px;
    margin-left:10px;
}

.history_year .history_date {
    font-size:22pt;
    float:left;
    border-top:8px solid #e54643;
    padding-top:9px;
    width:270px;
    color:#e54643;
}

.history_date {
    width:270px;
    float:left;
    border-top:8px solid #e54643;
    padding-top:9px;
    color:#e54643;
}

.history_inner_year {
    font-size:28pt;
    color:#e54643;
}

.history_inner_date {
    font-size:16pt;
    color:#646464;
    line-height:42px;
    float:right;
}

.history_text {
   float:left;
}

.history_text li {
    line-height:43px;
    padding-left:10px;
}

.history {
    width:100%;
    float:left;
    margin-top:20px;
    border-bottom: 1px solid #c9caca;
    padding-bottom: 30px;
    padding-top: 10px;
}

#history_1980,#history_2011,#history_2004,#history_1993 {
    border-bottom:0;
}




.history_list_date {
    width:270px;
    float:left;
    display:inline-block;
}


/* 수정중 2016 07 27  끝 하단부터 history 적용 안함. */

.history p {
    float:left;
    font-size:22px;
    font-weight:bold;
    color:#c34242;
    padding-right:30px;
    padding-top:20px;
}



.page05_table {
    width:100%;
    /*
    border-top:1px solid #8d8d8d;
        */
}

.page05_table th {
    /*
    border-bottom:1px solid #8d8d8d;
        */
    background-color:#74171c;
    color:#FFF;
    font-weight:500;
}

.page05_table td {
    border-bottom:1px solid #8d8d8d;
}

#paging {
    border-bottom:0;
    height:70px;
}

#paging span {
    margin:10px;
}

#now_page {
    font-weight:bold;
}


/* 8d8d8d */

.page05_table {

}

.page05_table td, .page05_table p {
    text-align:center;
    font-size:14px;    
}

.page05_table a {
    text-decoration:none;
}

#page05_title {
    text-align:left;
}

#page05_view_table {
    margin-top:30px;
    width:1200px;
    height:auto;
    border-bottom:1px solid #cfcfcf;
    border-top:1px solid #cfcfcf;
}

#page05_view_table th,#page05_view_table td  {
    font-size:14px;
    padding:10px;
}

#page05_view_table td {
    padding:5px;
}

.page05-view-title-h3 h3 {
    font-size : 24px;
    font-weight:bold;
    color:#454545;
    border-bottom:1px solid #646464;
}

.cnt_text {
    margin-top:50px;   
}

.cnt_text p {
    font-size:12px;
}

.page05-view-inner-talbe {
    margin-top:100px;
}

#writer-se2-editor-div {
    margin-top:30px;
}

.page05-nevi-btn {
    float:right;
    margin-top:0;
}

.page05-nevi-btn input {
    border:0;
    border-radius:5px;
    padding:10px;
    width:100px;
    font-weight:bold;
    color:#5e5e5e;
}

#se2-editor-cus-title {
    width:1200px;
    border-top:1px solid #bbbbbb;
    border-bottom:1px solid #bbbbbb;
    padding:5px 0;
}

#se2-editor-cus-title table {
    width:100%;
}

#se2-editor-cus-title input {
    width:100%;
    height:100%;
}

#se2-editor-cus-title th {
    width:100px;
}

#editor-text-area-cus {
    margin-top:20px;
}

#contents {
    border-top:1px solid #cfcfcf;    
    min-height:200px;
    vertical-align:top;
}

#contents img {
    max-width:700px;
}

.member_list > h1 {
    font-size:20px;
    border-bottom:1px solid #ccc;
    width:100%;
    padding-bottom:10px;
    font-weight:bold;
    color:#454545;
}

#notice_write_form {
    width:80px;
}

.page05-nevi-btn form[name=write_notice_form] {
    margin-top:20px;
    display:none;
}

/* index.css 에 같이 써주시기 바랍니다.*/
.law_list {
    width:100%;    
    height:30px;
    margin-top:25px;
}

.law_list ul {
    padding-left:300px;
}

.law_list a {
    text-decoration:none;
    color:#b0b0b0;
    padding:5px;        
    line-height:30px;
    
}

.law_list ul li {
    list-style-type:none;
    display:inline-block;
    
}

footer * {
    font-family:"나눔고딕",NanumGothic;
    font-weight:100;
}

footer {
    width:1903px;    
    font-size:13px;
    margin-top:20px;    
    background-color:#F5F5F5;
    border-top:1px solid #E1E1E1; 
    float:left;     
         
}

.footer_wrap {
    width:1600px;
    margin:auto;
}

.footer_text {
    margin-left:300px;
    margin-top:25px;
    color:#b0b0b0;
    font-weight:400;    
}

.footer_text p {
    width:800px;
    float:left;
    line-height:20px;
     
}

.footer_text nav {
    float:right;
}

.footer_text a {
    text-decoration:none;
    font-size:0;
    padding:5px;    
}

.footer_text nav img {
    width:30px;
}

.footer_text span {
    float:right;
    margin-right:30px;
    padding-bottom:5px;    
    margin-top:50px;
    
}


/* index.css */

/* login form */
/* login dsn */
.login_header {
    border-bottom:1px solid #cecece;
    width:100%;
    text-align:right;
    background-color:#fcfcfc;    
}

.login_header > form {
    margin-right:20px;
    padding:5px;
}

.login_header > form > input {
    width:100px;    
    border:0;
    padding-left:5px;
}

.login_header a {
    text-decoration:none;
    font-size:12px;
    color:#000;   
    padding:10px; 
}

.login_header > form > input:last-child {
    
    margin-right:100px;
}

/* login dsn end */
/* logout dsn */
.logout_header > form {
    margin-right:20px;
    padding:5px;
}

.logout_header {
    border-bottom:1px solid #cecece;
    width:100%;
    text-align:right;
    background-color:#fcfcfc;
}

.logout_header > form > input {
    width:100px;    
    border:0;
    padding-left:5px;
}

.logout_header a {
    text-decoration:none;
    font-size:12px;
    color:#000;   
    padding:10px; 
}

.logout_header > form > input:last-child {
    
    margin-right:100px;
}

/* logout dsn end */

/* user add from */
.user_wrap {
    width:1000px;
}

.user_wrap input {
    padding:10px;
}

.user_wrap table {
    width:800px;
    margin:auto;
}

.user_wrap th {
    text-align:right;
    font-weight:100;
    padding:20px;
}

.user_wrap td {
    padding:10px;
}

.user_insert_btn td input {
    width:150px;
}



.user_insert_btn {
    width:800px;
    text-align:center;
    margin-left:70px;
    margin-top:40px;        
}

#user_insert input[type=button], #user_insert input[type=reset]{
    width:100px;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
    
}

#user_insert input[type=tel] {
    width:70px;
}

#user_insert input[name=address], #user_insert input[name=inner_address] {
    width:300px;
}

#user_modify input[type=button], #user_modify input[type=reset]{
    width:100px;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
    
}

#user_modify input[type=tel] {
    width:70px;
}

#user_modify input[name=address], #user_modify input[name=inner_address] {
    width:300px;
}

.user_wrap table span {
    font-size:12px;
    margin-left:5px;
}

.modify_box {
    float:right;
    margin-top:35px;
}

.page06_wrap {
    margin-top:30px;
    width:1000px;
}

.page06_wrap h3 {
    font-size:18px;    
    border-bottom:1px solid #646464;
    padding-bottom:20px;
    color:#646464;
}

.page06_wrap img {
    padding-top:20px;
}

#form_submit {
    float:right;
    margin-top:20px;
    padding:5px;
}

.report_wrap {
    padding:5px;
    color:#454545;
}

.report_wrap * {
    font-family:"나눔고딕",NanumGothic;
}

.report_wrap h3 {
    margin:10px 0;
    font-size:18px;
    border-bottom:1px solid #454545;
    padding:20px 0 20px 0;
}

.report_wrap p {
    font-size:14px;
    margin-top:20px;
    line-height:32px;
}

.em_wrap * {
    font-family:"나눔고딕",NanumGothic;    
}

.em_wrap h3 {
    font-size: 24px;
    font-weight: bold;
    color: #454545;
    border-bottom: 1px solid #646464;
    margin-top:15px;
    padding-bottom:20px;
}

.em_wrap p, .em_wrap span{
    font-size: 55px;
    font-weight: 100;
    line-height: 76px;
}

.em_wrap p {
    margin-top: 57px;
    /*  border-bottom: 3px solid #74171c; */
    padding-bottom: 61px;
}

.em_wrap span {
    color:#74171c;
    font-weight:bold;
}

.em_wrap b{
    font-weight:500;
}