
@import url(font/NotoSansCJKkr-Medium.otf);



@font-face {
	font-family:"Noto Sans CJK KR Medium";
	src: url(font/NotoSansCJKkr-Medium.otf);
	src:local(※), url(font/NotoSansCJKkr-Medium.otf); format('otf');
}


body, img, div, p, h1, h2, h3, h4, h5, h6, span, ul, li, ol, a, pre, footer, dt, dd {
            margin:0;
            padding:0;                
        }

        body {
            font-family:"Noto Sans CJK KR Medium";
            width:1920px;   
            font-weight:500;
        }

        .wrap {           
            height:1000px;
            position:relative;
              
        }

        .animate_wrap {
            position:absolute;
        }

        .contents_wrap {
            background-image:url(../img/back_index_img.png);
            background-size:1920px 980px;
            background-repeat:no-repeat;
            width:1920px;
            height:980px;
            
        }


        .contents {    
              
        }

        .inner_contents_img {
            text-align:center;
        }

        .inner_contents_img > img {
            width:825px;
            margin:auto;
            padding-top:100px;
        }

        #left_arrow {
            width:68px;
            position:absolute;
            top:434px;
            left:160px;            
        }

        #right_arrow {
            width:68px;
            position: absolute;
            top: 434px;
            right: 160px;
        }

        .logo_incheonilbo {
            position:absolute;
            top:2%;
            left:2%;           
        }

        .logo_incheonilbo img {
            width:161px;
        }

        .go_btn {
            color:#FFF;
            border:3px solid #FFF;
            background-color:#74181C;
            width:40px;
            height:40px;
            line-height:40px;
            box-shadow:5px 3px 165px #161616;
            position:absolute;
            top:830px;
            left:1280px;
        }

        .left_btn_navi_teb {
            position: absolute;
            top: 480px;
            left: 216px;
            font-size: 23px;
            color: #74181c;
        }

        .right_btn_navi_teb {
            position:absolute;
            top:480px;
            right:230px;
            font-size: 23px;
            color: #FFF;
        }