body, li, ul, img, p, h1, h2, h3, h4, h5, h6, a {
    margin:0;
    padding:0;
    border:0;
    font-family:"나눔고딕";
}

input[type=button],input[type=text],input[type=password] {
    padding:0;
}

a{
    text-decoration : none;
}

li {
    list-style:none;
}

.wrap {

}

header {
    width : 100%;
    height : 150px;
}

.mini_login {
    height : 25px;
    text-align:right;
    padding-top:5px;
    padding-right:30px;
    font-size:14px;
}

.mini_login a {
    color : #1e1e21;
}

.logo {
    width : 250px;
    height : 110px;
    float : left;
}

.logo img {
    padding-top : 45px;
}

.section {
    width : 1000px;
    height : 110px;
    margin-left:350px;
}
.section ul {
    width : 100%;
    margin:auto;
    text-align:center;
    display:table;
    padding-top:80px;
}

.section li {
    display:table-cell;
    vertical-align:bottom;
}

.inner_header {
    margin-left : 200px;
}

.contents_wrap{
    width : 100%;
    height : 600px;
}

article {
    width : 100%;
    position:relative;
    z-index:3;
}

.in_contents_wrap {
    width : 1000px;
    margin-left:600px;
}

.in_contents_wrap table {
    width : 100%;
}

.in_contents_wrap #page1_side_menu_default th {
    color : #FFF;
    background-color:#717276;

    font-weight:100;
}

.page1_title {
    float:right;
    height: 300px;
}

.page1_title_text {
    float:left;
    width:700px;
    margin-top:100px;
    vertical-align:middle;
}

.page1_sublist td{
    width : 200px;
    height : 150px;
    background-color:yellow;
}

.page1_1btn {
    float : right;
    margin-top:30px;
}

.page1_1btn img:first-child {
    padding-right:10px;

}

.section a {
    color:#6c6d6f;
}

.page2_title{
    font-size:20px;
    font-weight:400;
    margin-left:10px;
    margin-top:14px;
    border-bottom:1px solid #e7e8ea;
    padding-bottom:13px;
}

.cnt_header {
    font-size:12px;
}

.docu_list_view {
    
}

footer {
    background-color:cornflowerblue;
}
