	#id,#pass{
		color : #9b9b9b;
		
	}

	#id {
		float : left;
		margin-bottom : 15px;
	}

	#pass {

	}

	#login_form {
		width : 340px;
		height : 100px;
		margin : 0px;
		padding : 0px;
	}

	#login_button {
		width : 90px;
		height: 84px;
		border-radius : 3px;
		float : right;
		border : 0px;
		background-color: #006ab6;
		color : #ffffff;
		font-weight : bolder;
	}

	#input {
	}

	table {

	}

	#login_wap {
		width : 500px;
		height : 400px;
		padding : 10px;
		margin : 0px;
	}

	#login_text > h1 {
		font-size : 18px;
		margin-bottom : 16px;
		font-weight : 700;
		color : #323232;
	}

	#login_text > p {
		font-size : 12px;
		color : #6e6e6e;
		margin-bottom : 16px;
	}

	body {
		margin : 0px;
		font-family : "나눔고딕";
	}

	input {
		font-size : 13px;
		font-family : 'Nanum Barun Gothic', dotum, 돋움, sans-serif;
		padding : 8px; 10px;
		width : 228px;
	}

	.login_find {
		width : 350px;
		font-size : 12px;
		color : #9b9b9b;
	}

	.login_find div {
		margin-bottom : 15px; 
	}

	

	.btn {
		text-align : center;
		border : 1px solid #9b9b9b;
		width : 100px;
		float : right;
		color : #9b9b9b;
		padding : auto;
	}

	a:link { text-decoration: none; color: #646464;}
	a:visited { text-decoration: none; color: #646464;}
	a:active { text-decoration: none; color: #646464;}
	a:hover {text-decoration:none; color: #646464;}