/* Default */
* {
    margin:0;
    padding:0;
}

a {text-decoration:none;}
li {list-style-type:none;}
/* Default */

/* Contanier wrap */

#wrap {
    width:640px;
    height:300px;
    border:1px solid #000;
    margin:auto;
    margin-top:15%;
    box-shadow:0 0 2px 1px;
}

.contents {
    text-align:center;
    margin:auto;
}

.contents h1 {
    text-align:center;
    box-shadow:0 0 2px 1px;    
}

.contents input {
    width:95%;
    height:50px;
    display:block;
    margin:auto;
    margin-top:15px;
    padding:4px 2px;
}

.contents input[type=submit] {
    margin-top:40px;
    border:0;
    background-color:#3e3e3e;
    color:#FFF;
    box-shadow:0 0 1px 1px inset;
    border-radius:5px;
    cursor:pointer;
}

.contents input[type=submit]:hover {
    background-color:#64ed78;
}

/* Contanier wrap end */