* {
    margin: 0;
    padding: 0;
    font-family: NanumGothic,"나눔고딕";
    font-weight:100;
}

a {
    text-decoration:none;
}

@media screen and (max-width:980px) {
    .contents {
        width:100%;
        background-color:#ff6a00;
    }

    .section > ul {
        line-height:35px;
        width:980px;
        border-right:1px solid #000;
        border-left:1px solid #000;
        margin:auto;
        text-align:center;
    }

}

/* DeskTop and LabTop */

    .wrap {
        width:100%;
    }

    .header {
        width:100%;
        height:200px;
        border-top:3px solid #ff6a00;
    }

    .login_header {
        height:35px;
        border-bottom:1px solid #b9b9b9;
    }

    .logo_header {
        border-bottom:1px solid #b9b9b9;
        height:128px;
    }

    .section {
        height:35px;
        border-bottom:1px solid #b9b9b9;
    }

    .contents {
        width:980px;
        margin:auto;
        background-color:#fcfcfc;
    }

    

    .img_slide {
        width:100%;
        height:330px;
        border:1px solid #b9b9b9;
        margin-top:15px;
        overflow:hidden;
    }

    .img_slide img {
        width:100%;
    }

    .sort_line {
        text-align:center;
        margin-top:15px;
        height:10px;
        background-color:#b9b9b9;
        font-size:14px;
        border-radius:2px;
    }

    .inner_contents {
        position:relative;
        width:100%;
        height:800px;
        border:1px solid #b9b9b9;
        margin-top:15px;
    }

    .footer {
        margin-top:15px;
        width:100%;
        height:380px;
        border-top:1px solid #b9b9b9;
        border-bottom:1px solid #b9b9b9;
    }

    .login_form {
        float:right;
        margin-right:20px;
    }

    .login_form > a {
        font-size:14px;
        color:#000;
        line-height:36px;
        margin:0 10px;
    }

    .section > ul {
        line-height:35px;
        width:980px;        
        border-left:1px solid #b9b9b9;
        border-right:1px solid #b9b9b9;
        margin:auto;
        text-align:center;
    }

    .section > ul > li {
        display:inline-block;
        list-style-type:none;
        padding:0 50px;
    }

    .section > ul > li > a {
        font-size:14px;
        letter-spacing:5px;
        color:#b9b9b9;        
    }

    .img_slide > ul > li {
        position:relative;
    }

/* DeskTop and LabTop end */