* {
    margin:0;
    padding:0;
    font-family:"나눔고딕",NanumGothic;
}

img {
    border:0;
    font-size:0;
}

a {
    text-decoration:none;
    cursor:pointer;
}

li {
    list-style-type:none;
}

#wrap {    
    position:absolute;
    width:1920px;
    height:100%;    
    background-color:#ffffff;
}

.wrap_top {
    text-align:center;
}

.wrap_top p {
    padding:10px;
    font-weight:bold;
    color:#FFF;
}

#login_wrap {
    width:500px;
    height:250px;    
    margin:auto;
    margin-top:384.5px;
    padding:10px;
    border:3px double #ff6d00;
}

.login_form_input {
    width:400px;
    height:40px;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    border:0;
}

.login_form input[type=text], .login_form input[type=password] {
    border:1px solid #1a00ff;
    background-color:#FFF;
}

.login_form_input:last-child {    
    background-color:#1a00ff;
    color:#FFF;
}

.login_form_input:last-child:hover {
    background-color:#00ff21;
    font-weight:bold;
}

.login_form {
    text-align:center;
}

.page1_section {
    padding:20px;
    margin-top:30px;
}

.page1_wrap {

}


.page1_section li {    
    margin:20px 0;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
    border:0;
}

.page1_section #selectable button {
    padding:10px;
    width:90px;    
    background-color:#FFF;
    border-radius:10px;
    color:#5b5b5b;
    font-weight:500;
    cursor:pointer;
}

.page1_section #selectable button:hover {
    background-color:#dd4040;
    color:#FFF;
}

.ltn_menu, .top_menu {
    background-color:#333333;
}


.ltn_menu {
    position:fixed;
    bottom:0;
    left:0;
    height:100%;    
    font-size:12px;    
    z-index:999;
}

.page1_section li a {
    color:#5b5b5b;
    font-weight:bold;
}

.top_menu {    
    border-bottom:1px solid #5a5a5a;
    position:fixed;
    text-align:right;
    width:100%;
    height:50px;
    top:0;
    left:0;
    z-index:900;
}

.top_menu h1 {
    font-size:18px;
    color:#5a5a5a;
    float:left;
    display:inline-block;
    margin-left:150px;
}

.log_option {
    display:inline-block;    
}

.log_option a {
    padding:10px;
    font-size:14px;
    color:#FFF;
}

.inner_top_menu {
    height:30px;
    line-height:30px;
    margin-top:11px;
}

.inner_top_menu h1 {
    color:#FFF;
}

.contents {    
    margin-top:100px;
    margin-left:120px;
}

#page4_send_form {

}

#page4_send_form table {
    width:90%;    
    margin:auto;
}
#page4_send_form td {    
    text-align:center;   
    padding:10px;     
}

#page4_send_form td input,#page4_send_form td select {
    padding:10px;
    width:90%;
}

#page4_send_form table #sub_btn_tfoot {    
    text-align:right;
}

#sub_btn_tfoot td input {
    width:200px;
    height:50px;           
    border-radius:10px;       
    color:#FFF; 
    font-weight:500;
    font-size:15px;
    margin-top:70px;
    cursor:pointer;
}

#sub_btn_tfoot td input:hover {
    background-color:#5b5b5b;
}

#page4_data_status {
    text-align:center;
}

#page4_data_result_success, #page4_data_result_fail {
    margin:auto;
    text-align:left;
    display:none;
    width:70%;
    height:30px;
    border-radius:10px;
    padding:20px;
    margin-top:20px;
}

.page4_data_result_p {
    line-height:30px;
    color:#FFF;
    font-weight:bold;
    letter-spacing:2.3px;
}

#page4_data_result_success {
    background-color:#1f872b;
}

#page4_data_result_fail {
    background-color:#dd4040;
}

#page2_load_div, .page_load_div {    
    position:relative;
}

#page2_load_div table {
    width:1620px;
    margin:auto;
    position:relative;
}

#page2_load_div .search, .search {    
    text-align:right;      
    padding:10px;
    z-index:500;
    position:absolute;
    right: 91px;
    top: 0;
}

.search #page2_search_form input[type=button] {
    background-color:#FFF;
}

#page2_search_form input[type=image] {
    vertical-align:middle;
}

#page3_BBS_div {
    margin-bottom:100px;
}

#page2_load_div .search input,#page3_BBS_div .search input  {
    padding:5px;
    font-size:12px;
}

.ui-datepicker-trigger {
    margin-left:5px;
}

.ui-datepicker-trigger img {
    vertical-align:middle;
    background:none;
    height:25px;    
}

.table_caption {
    font-size:24px;   
    text-align:left;    
    margin:10px 0 20px 0;
    font-weight:bold;
    color:#383838;

}

.tableFormat {
    width:1600px;
}


#page2_load_div table th, .page_table_th_title, .tableFormat th {
    padding:10px;
    color:#ffffff;
    background-color: #5b5b5b;
}

#page2_load_div table td, .tableFormat td {
    font-size:14px;
    text-align:center;
    padding:10px;
    border-bottom:1px outset #4e4e4e;
}

#page2_modify_form {
    position:absolute;
    top:0;
    left:30%;
    width:550px;
    height:741px;
    z-index:99999;               
    background-color:#FFF;
    border-radius:10px;
    display:none;
}

#page2_modify_form h2 {
    text-align:center;
    background-color:#ff6d00;
    color:#FFF;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:10px 0;
}

#page2_modify_form h2 span {
    float:right;
    margin-right:20px;
}

#page2_modify_form_data {    
    height:100%;
    position:relative;
}

#page2_modify_submit_div {
    width:100%;
    background-color:#3774d3;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:10px 0;
    position:absolute;    
    height:28px;
    bottom:0;
    text-align:center;
}

#page2_modify_submit_div input[type=button] {
    padding:20px;
    width:70px;
    border-radius:70px;
    background-color:#3774d3;
    color:#FFF;
    font-weight:500;
    border:3px inset #204af1;
}

#page2_modify_data {
    text-align:center;
}

#page2_modify_form #page2_modify_form_data #page2_modi_table_export {
    margin-top:83px;
    text-align:center;
    width:570px;
}

#page2_modify_form #page2_modify_form_data #page2_modi_table_export th {
    border:0;
    font-size:15px;
    color:#5a5a5a;  
    font-weight:500;  
}

#page2_modify_form #page2_modify_form_data #page2_modi_table_export td {
    border:0;
}

#page2_modify_form #page2_modify_form_data #page2_modi_table_export input {
    padding:10px;
    width:300px;
    border:3px inset #ff6d00;
}

#ExportExcelBtn img, .ExportExcelBtnClass img {
    vertical-align:middle;
}

#page3_BBS_Table {
    width:1600px;    
    margin:auto;
}

.pagingView {
    text-align:center;
    margin-top: 25px;  
}

.pagingView ul {
    font-size:0;
}

.pagingView li {
    display:inline-block;
    margin:0 10px;
    font-size:14px;
    width: 20px;
    height: 20px;
    line-height: 20px;

}

.activePaging {
    font-weight:bold;
}

.activePaging a {
    color: #1f1f1f !important;
}


.pagingArrow {
    background-color: #5b5b5b;

}

.pagingArrow img {
    vertical-align:middle;
    width:14px;
    margin-bottom: 2px;
}

.pagingView li a {
    font-size:14px;
    color: #5b5b5b;
}

/* Jquery */
#ui-id-1 {
    font-size:14px;
}