A  {
	font-family : verdana;
	font-size : 12px;
	text-decoration : none;
	font-weight : bold;
}

A:Hover  {
	font-family : verdana;
	font-size : 12px;
	text-decoration : underline;
}

A.OutlookBar  {
	font-family : verdana;
	font-size : 12px;
	text-decoration : none;
	font-weight : normal;
}

TD.OutlookBar  {
	font-family : verdana;
	font-size : 12px;
	text-decoration : none;
	font-weight : normal;
}

body,p,ol,ul,td
   {
	font-family: verdana;
	font-size: 13px;
	color:black;   
   }