.api-object-div-outWrap * {font-family: 'Montserrat',NanumGothic;color:#5c5c5c;box-sizing:border-box;}

.api-object-div-outWrap {
    min-width: 200px;
    min-height: 80px;
    background-color: #dcdcdc;
    position: absolute;
    padding:3px 3px 3px 3px;
    border-radius:3px;
    box-shadow:0 0 2px 2px;
    top: 45%;
    left: 45%;        
}

.api-object-div-topWrap {
}

.api-object-div-topWrap span {
    display:inline-block;
    font-weight:bold;
}

.api-object-div-topWrap span:first-child {    
    padding:2px;
}

.api-object-div-topWrap span:last-child {        
    float:right;    
    color: #FFF;
    background-color:#454545;
    border-radius: 3px;    
    width:50px;
    height:25px;
    text-align:center;
    background-image:url(../images/right-x-btn.png);
    background-size:30%;
    background-repeat:no-repeat;
    background-position:center center;    
}

.api-object-div-topWrap span:last-child:hover {    
    box-shadow:0 0 1px 2px inset;
    background-color:#dcdcdc;
}

.api-object-div-middleWrap {
    margin:10px auto;
    background-color:#FFF;
}

.api-object-div-middleWrap p {
    text-align:center;
    padding:15px 30px;
}

.api-object-div-bottomWrap p {
    text-align:center;
    width:100px;
    margin:auto;
    background-color:#FFF;
    margin-bottom:10px;
    padding:5px 2px;
    cursor:pointer;
    border-radius:3px;
    font-weight:bold;
    box-shadow:0 0 2px 2px;
}

.api-object-div-bottomWrap p:hover {
    box-shadow:0 0 2px 2px inset;
}