*{ margin:0; padding:0; box-sizing:border-box;}
body {font-family: 'Noto Sans KR','Gudea', sans-serif; width:100%;margin:auto;}
a{text-decoration:none;}
li{list-style:none;}


.paddingSize{padding:2.7% 15%;}

/* 버튼 default */
.btn_globalGray {
    border:1px solid #797979;
    color:#797979;
    width:140px;
    height:40px;
    font-size:15px;
    box-sizing:border-box;    
    display:inline-block;
    text-align:center;
    line-height:40px;
    transition-property:all;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    -webkit-transition-duration:0.8s;
}
.btn_globalGray:hover {background-color:#0b2e5e;color:#e6e6e7;border:1px solid #0b2e5e;}

.btn_globalGray_whiteType {
    border:1px solid #e6e6e7;
    color:#e6e6e7;
    width:140px;
    height:40px;
    font-size:15px;
    box-sizing:border-box;    
    display:inline-block;
    text-align:center;
    line-height:40px;
    transition-property:all;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    -webkit-transition-duration:0.8s;
}

.btn_globalGray_whiteType:hover {background-color:rgba(230,230,231,0.8);color:#797979;border:1px solid #e6e6e7;}
/* 버튼 default end */



header nav:first-child{ background-color: #e6e6e7; height:1.7%; text-align:right;}
header nav:first-child ul{margin-right:20%;}
header nav:first-child ul li{  display:inline-block; margin-left:1.2%;}
header nav:first-child ul li:first-child {margin-left:0;}
header nav:first-child ul li a{font-family: 'Gudea'; color:#0b2e5e; font-size:9px;  color:#0b2e5e;}
header nav:first-child ul li select{border:none; background-color:#e6e6e7; font-size:9px; margin:0 1.2%; color:#0b2e5e;}

header{background-color:#0b2e5e; height:5.7%; vertical-align:middle;}
header nav:last-child{width:40%; display:inline-block; vertical-align:middle; text-align:right;  margin-left:4.7%;}
header nav:last-child ul {vertical-align:middle;  text-align:right; }
header nav:last-child ul li { display:inline-block; vertical-align:middle; margin-left:8%;}
header nav:last-child ul li:first-child{margin-left:0;}
header nav:last-child ul li a{font-family: 'Gudea'; font-size:13px; color:#e6e6e7; }
header h1{display:inline-block; width:14.6%; margin-left:20%; vertical-align:middle;}

footer{background-color:#0b2e5e;}