/* top_slider */



.slide {height:auto;}
.slide ul {margin:auto;text-align:center;}
.slide ul li {padding:10px;text-align:center;margin:auto;}
.slide ul li img {width:100%;margin:auto;}


/* article 이디야 희망기금 */
/*
figure:nth-of-type(1) {font-size:0;text-align:center;background-color:#e6e6e7;padding:10px;height:12.7%;}
figure:nth-of-type(1) img {display:inline-block;vertical-align:middle;height:100%;}
figure:nth-of-type(1) figcaption {display:inline-block;font-size:12px;vertical-align:middle;width:27%;}
figure:nth-of-type(1) figcaption h2 {display:inline-block;border-right:1px solid #797979;vertical-align:middle;width:20%;box-sizing:content-box;padding:10px 20px 10px 10px;text-align:right;}
figure:nth-of-type(1) figcaption h2 time {display:block;text-align:right;}
figure:nth-of-type(1) figcaption p {display:inline-block;width:40%;vertical-align:middle;}
figure:nth-of-type(1)  figcaption a {display:inline-block;vertical-align:middle;}
*/

/* 수정 2
figure:nth-of-type(1) {font-size:0;background-color:#e6e6e7;padding:10px;height:12.7%;}
figure:nth-of-type(1) img {height:100%;position:relative; display:inline-block;}
figure:nth-of-type(1) figcaption {vertical-align:middle; font-size:12px; display:inline-block;}
figure:nth-of-type(1) figcaption h2 {vertical-align:middle; position:absolute; border-right:1px solid #797979;width:13%;box-sizing:content-box;padding:10px 40px 10px 0;text-align:right;}
figure:nth-of-type(1) figcaption h2 time {}
figure:nth-of-type(1) figcaption p {width:56%; float:right; }
figure:nth-of-type(1)  figcaption a {}
    */

figure {position:relative;text-align:center;}

figure:nth-of-type(1) {background-color:#e6e6e7;}
figure:nth-of-type(1) > * {display:inline-block;vertical-align:middle;}
figure:nth-of-type(1) img {width:165px;}
figure:nth-of-type(1) figcaption {width:590px;position:relative;text-align:center;}
figure:nth-of-type(1) figcaption > * {display:inline-block;vertical-align:middle;}
figure:nth-of-type(1) figcaption h2 {width: 170px; padding: 0 35px 0 0px; text-align: right; border-right: 1px solid #797979;}
figure:nth-of-type(1) figcaption h2 time { display:block; }
figure:nth-of-type(1) figcaption p {width:330px;font-size:12px;vertical-align:text-bottom;text-align:left;margin-left:30px;}
figure:nth-of-type(1) figcaption a {position:absolute;right:217px;bottom:0;}


figure:nth-of-type(2) {background-image:url(../images/back_01.png);background-size:cover;background-repeat:no-repeat;color:#FFF;}


figure:nth-of-type(2) > * {display:inline-block;vertical-align:middle;}
figure:nth-of-type(2) img {}
figure:nth-of-type(2) figcaption {width:50%;margin-left:60px;padding-left:40px;text-align:left;}
figure:nth-of-type(2) figcaption h2 {font-size:15px;text-align:left;margin-bottom:10px;font-weight:100;}
figure:nth-of-type(2) figcaption h2 span {display:block;}
figure:nth-of-type(2) figcaption p {font-size:12px;text-align:left;font-weight:100;width:290px;word-spacing:1px;}
figure:nth-of-type(2) figcaption a {margin-top:20px;}

/* recommend shoppingMall */

.rec_shopping {background-color:#e7e5db;font-size:0;}
.rec_shopping > * {display:inline-block; vertical-align:middle;}


.rec_shopping .recommend {width:50%;font-size:10px;}
.rec_shopping .recommend ul {text-align:center;width:100%;}
.rec_shopping .recommend ul li {text-align:center;padding:15px 0;margin:auto;background-color:#e7e5db;}
.rec_shopping .recommend ul li img {margin:auto; width:51px;}

.rec_shopping .shoppingMall_box {width:50%;font-size:10px;}
.rec_shopping .shoppingMall_box figure {}
.rec_shopping .shoppingMall_box figure a {}
.rec_shopping .shoppingMall_box figure figcaption {}
.rec_shopping .shoppingMall_box figure figcaption p {}
.rec_shopping .shoppingMall_box a {}



/*@media screen and (max-width:980px) {
    figure:nth-of-type(1) img {display:block;margin:auto;width:50%;}
    figure:nth-of-type(1) figcaption h2 {display:block;width:100%;border-right:0;text-align:center;}
    figure:nth-of-type(1) figcaption p {display:block;width:100%;}
    figure:nth-of-type(1) figcaption a {position:static;}    
}*/