@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


*:not(.fa):not(.glyphicon) {
    font-family: 'Noto Sans KR', 'Nanum Barun Gothic', sans-serif !important;
}

*{ margin: 0; padding: 0; }
li { list-style-type:none; }
a { text-decoration:none; }

header {
    height: 80px;    
    background: blue;
}

header .hd_1 {
    width: 1020px;
    margin: auto;    
}

header .hd_1 .logo {
    float: left;
    text-transform: uppercase;
}


/* article */
